.threedily-scene {
  width: 100%;
  height: 100%;
  position: relative;
  touch-action: none;
  overflow: hidden;
  cursor: grabbing;
}

.threedily-scene * {
  pointer-events: none;
}

.threedily-frame {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;
  -moz-window-dragging: none;
}

.threedily-frame-active {
  opacity: 1;
}

.threedily-linear-progress {
  position: absolute;
  /* top: 2px; */
  /* border-radius: 4px; */
  background-color: rgb(238, 238, 238);
  height: 7px;
  width: 100%;
  z-index: 1;
}

.threedily-linear-progress-bar {
  /* border-radius: 4px; */
  background-color: rgb(26, 144, 255);
  transition: all 1.1s ease 0s;
  height: 100%;
  width: 0%;
}
